<html>
<head>
    <link rel="stylesheet" href="/css/reveal.css">
    <link rel="stylesheet" href="/css/theme/black.css">
    <style>
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section data-background-color="#04C4D9">
            <div style="width:80%;margin:auto;padding-bottom: 7vh">{{ event.attendee_list|join(',')|safe }} will join. <br/>Are you ready?</div>
            <h1 onclick="javascript:Reveal.next();">START</h1>
            <h3 onclick="javascript:history.back();">&#x21BA;Back</h3>
        </section>
        {% for c in event.attendee_combination %}
        <section
        {% if loop.index % 5 == 0 %}
            data-background-color="#F2137B"
        {% elif loop.index % 5 == 1 %}
            data-background-color="#F285B8"
        {% elif loop.index % 5 == 2 %}
            data-background-color="#04C4D9"
        {% elif loop.index % 5 == 3 %}
            data-background-color="#AABF06"
        {% elif loop.index % 5 == 4 %}
            data-background-color="#F28705"
        {% else %}
            data-background-color="#04C4D9"
        {% endif %}
                >
            <h1>No.{{ loop.index }} {% if loop.last %}(last){% endif %}</h1>
            <h2 class="fragment"><span style="font-size: 60%">from:&nbsp;</span>{{ c.from }}</h2>
            <h3>&rArr;</h3>
            <h2 class="fragment"><span style="font-size: 60%">to:&nbsp;</span>{{ c.to }}</h2>
        {% if loop.last %}<h3 onclick="javascript:location.href='/result/{{ event.key.urlsafe() }}'">see all results</h3>{% endif %}
        </section>
        {% endfor %}
    </div>
</div>
<script src="/js/reveal.js"></script>
<script>
    Reveal.initialize();
    Reveal.configure({
        keyboard: {
            13: 'next'
        }
    });
</script>
</body>
</html>